
<div class="row">
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Daily 
          <span class="float-end bg-success rounded ps-2 pe-2 small">daily</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">10</h5>
              <p class="small mb-0 text-whitesmoke">daily requests</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-trophy text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Monthly 
          <span class="float-end bg-info rounded ps-2 pe-2 small">Monthly</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">10 500</h5>
              <p class="small mb-0 text-whitesmoke">Monthly requests</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-file text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Yearly 
          <span class="float-end bg-danger rounded ps-2 pe-2 small">Yearly</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">14 000</h5>
              <p class="small mb-0 text-whitesmoke">Yearly requests</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-clock-o  text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Auguts 
          <span class="float-end bg-warning rounded ps-2 pe-2 small">This month</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">800</h5>
              <p class="small mb-0 text-whitesmoke">This month requests</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-check text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div> 