<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 
    <link href="{{ url_for('static',filename='libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <title>Document Requests | National Certification Center</title>
    <style>
      body{
        background-color: black;
        color: white;
      }
      .text-whitesmoke{
        color: rgb(167, 167, 167);
      }
      .dropzone { 
        margin-top: 20px;

        border: dashed !important;
        border-color: #ccc !important;
        border-radius: 10px !important;
        background: transparent;

        /* REQUIRED. This will prevent the dropzone area from getting bigger.*/
        max-height: 150px !important;
    }
    </style>
  </head>
  <body> 
  <div class="row m-0 p-0"> 
    
      <!--Side bard-->
      {% include 'includes/dash-sidebar.html' %}

      <!-- Main Content -->
      <div class="col-md-9 col-lg-10 offset-md-3 offset-lg-2 p-0"> 
        <nav class="navbar mb-0 navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="#">Request Information</a>
            <a href="/logout" class="btn btn-outline-danger">
               Logout
            </a>
          </div>
        </nav>
        <div class="container mt-3"> 
          <div class="row ">
            <div class="col-sm-12 col-md-6">
              
                <div class="text-white bg-dark rounded">
                    <div class="card-header p-3">
                      Request Details
                      <span class="float-end bg-warning rounded ps-2 pe-2 small">pending</span>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6"> 
                            <p class="small mb-0 text-whitesmoke">Student name:</p>
                            <h5 class="card-title h6">{{aRequest[1]}}</h5>
                            <hr class="bg-gray" /> 
                            <p class="small mb-0 text-whitesmoke">Academic year:</p>
                            <h5 class="card-title h6">{{aRequest[9]}}</h5>
                            <hr class="bg-gray" />
                            <p class="small mb-0 text-whitesmoke">Student classe:</p>
                            <h5 class="card-title h6">{{aRequest[8]}}</h5>
                            <hr class="bg-gray" />
                            <p class="small mb-0 text-whitesmoke">Student Option:</p>
                            <h5 class="card-title h6">{{aRequest[7]}}</h5> 
                        </div>
                        <div class="col-6"> 
                            
                            <p class="small mb-0 text-whitesmoke">Document Requested:</p>
                            <h5 class="card-title h6 text-danger">{{aRequest[3]}}</h5>
                            <hr class="bg-gray" />
                            <p class="small mb-0 text-whitesmoke">Student Id:</p>
                            <h5 class="card-title h6">{{aRequest[2]}}</h5>
                            <hr class="bg-gray" />
                            <p class="small mb-0 text-whitesmoke">Student Faculty:</p>
                            <h5 class="card-title h6">{{aRequest[5]}}</h5>
                            <hr class="bg-gray" />
                            <p class="small mb-0 text-whitesmoke">Student Department:</p>
                            <h5 class="card-title h6">{{aRequest[6]}}</h5> 
                        </div>
                      </div>
                    </div>
                </div>

                <!--Payment infos-->
                <div class="text-white bg-dark rounded mt-3"> 
                    <div class="card-header p-3">
                        Payment Details
                    </div>
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"> 
                                <p class="small mb-0 text-whitesmoke">Payment phone:</p>
                                <h5 class="card-title h6">{{payment[3]}}</h5>
                                <hr class="bg-gray" /> 
                                <p class="small mb-0 text-whitesmoke">Paiement statut:</p>
                                {% if payment[4] == 1 %}
                                  <h5 class="card-title h6 text-info"> 
                                  Paid
                                {% else %}
                                  <h5 class="card-title h6 text-warning"> 
                                  Pending
                                {% endif %}
                                </h5> 
                            </div>
                            <div class="col-6">  
                                <p class="small mb-0 text-whitesmoke">date:</p>
                                <h5 class="card-title h6">{{payment[5]}}</h5> 
                                <hr class="bg-gray" />
                                <p class="small mb-0 text-whitesmoke">Email:</p>
                                <h5 class="card-title h6">{{payment[2]}}</h5>  
                            </div>
                          </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="text-white bg-dark rounded"> 
                    <div class="card-header p-3">
                        CERTIFIED DOCUMENT
                    </div>
                    
                    <div class="card-body">
                        <div class="row">
                            <p class="small mb-0 text-whitesmoke">Document link:</p>
                            <div id="documentUrl">
                              {% if len(aRequest[4]) == 0 %}
                                <a href="#" class="card-title" ></a>
                              {% else %}
                                <a href="http://127.0.0.1:8080/ipfs/{{aRequest[4]}}" class="card-title">Click here to view the certified Document</a>
                              {% endif %}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6"> 
                                <a href="#" class="btn btn-success">Send The certified Document</a> 
                            </div>
                            <div class="col-6">  
                                <a href="#" class="btn btn-danger">Reject This request</a> 
                            </div>
                          </div>
                    </div>
                </div>

 

                <!--Certificatione-->
                {% if len(aRequest[4]) == 0 %}
                  <div class="text-white bg-dark rounded mt-3" id="uploadContainer"> 
                      <div class="card-header p-3">
                          Certiify the Document
                      </div>
                      <small class="text-danger" id="errorMessage"></small>
                      <div class="card-body">
                          <div class="row">
                              <span class="small">
                                  To certify the document you only need to updload the document here and click on certify now.
                                  <br />
                              </span>
                              <span class="small text-warning">Pay attention! Once the file is certify there is no revert action. So be careful not to have mistakes in your documents</span>
                              <div class="ms-1 me-2 p-0">
                                  <form action="/fileupload" class="dropzone p-0" id="dropzoneForm">
                                      <div class="fallback">
                                          <input name="file" type="file" />
                                      </div>
                                  </form> 
                                  
                                  <form id="certifyForm" action="POST">
                                    <input hidden name="certId" id="certId" value="{{aRequest[0]}}" /> 
                                    <div id="loading" class="d-none text-center container">
                                      <div class="spinner-border text-primary" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                  </div>
                                    <button id="formButton" class="btn btn-info w-100 mt-3">Certify Now</button> 
                                  </form>
                              </div>
                              
                            </div>
                      </div> 
                  </div>
                {% endif %}
            </div>
          </div>
        </div>

        
        

        <br />
        <!--footer-->
        {% include 'includes/footer.html' %}
      </div>
    </div>
    
   
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}" ></script> 
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>  
    <script src="{{ url_for('static',filename='libs/certify-document.js') }}"></script>  
  </body>
</html>