<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 
    <link href="{{ url_for('static',filename='libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" /> 
    
    <title>Dashboard | National Certification Center</title>
    <style>
      body{
        background-color: black;
        color: white;
      }
      .text-whitesmoke{
        color: rgb(167, 167, 167);
      }
    </style>
  </head>
  <body> 
  <div class="row m-0 p-0"> 
    
      <!--Side bard-->
      {% include 'includes/dash-sidebar.html' %}

      <!-- Main Content -->
      <div class="col-md-9 col-lg-10 offset-md-3 offset-lg-2 p-0"> 
        <nav class="navbar mb-0 navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="#">Issuer Dashboard</a>
            <a href="/logout" class="btn btn-outline-danger">
               Logout
            </a>
          </div>
        </nav>
        
        <!--Statistics-->
        <div class="container pt-3"> 
          {% include 'includes/dashboard/statistics.html' %} 
        </div>

        <!--Finance Summary-->
        {% include 'includes/dashboard/paiement.html' %} 
        

        <!--10 Latest requests-->
        <div class="container mb-2 mt-4">
          <div class="text-white bg-dark rounded">
            <div class="card-header p-3 h5">
              Top 10 Document Requests  
              <a href="#" class="text-white small"><span class="float-end bg-danger rounded ps-2 pe-2 small">See All Requests <i class="fa fa-arrow-right"></i></span></a>
            </div>
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-btn">
                <button class="btn btn-success" type="button" id="search-btn">Search</button>
              </div>
              
              <table class="table table-bordered table-dark table-striped">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Document Name</th>
                    <th scope="col">Document Type</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>John Doe</td>
                    <td>john.doe@example.com</td>
                    <td>+1 234 567 8901</td>
                    <td>Document 1</td>
                    <td>Type A</td>
                    <td>2023-08-05</td>
                  </tr>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>John Doe</td>
                    <td>john.doe@example.com</td>
                    <td>+1 234 567 8901</td>
                    <td>Document 1</td>
                    <td>Type A</td>
                    <td>2023-08-05</td>
                  </tr>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>John Doe</td>
                    <td>john.doe@example.com</td>
                    <td>+1 234 567 8901</td>
                    <td>Document 1</td>
                    <td>Type A</td>
                    <td>2023-08-05</td>
                  </tr>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>John Doe</td>
                    <td>john.doe@example.com</td>
                    <td>+1 234 567 8901</td>
                    <td>Document 1</td>
                    <td>Type A</td>
                    <td>2023-08-05</td>
                  </tr>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>John Doe</td>
                    <td>john.doe@example.com</td>
                    <td>+1 234 567 8901</td>
                    <td>Document 1</td>
                    <td>Type A</td>
                    <td>2023-08-05</td>
                  </tr>
                  <!-- Add more rows here as needed -->
                </tbody>
              </table>
            </div> 
        </div>

      </div>

        <br />
        <!--footer-->
        {% include 'includes/footer.html' %}
      </div>
    </div>
    
   
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}" ></script>
    <script src="{{ url_for('static',filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script> 
    <script defer src="{{ url_for('static',filename='libs/login.js') }}"></script>
  </body>
</html>