<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" /> 
    
    <title>Certification | National Certification Center</title>
    
  </head>
  <body>
    {% include 'includes/header.html' %}
    {% include 'includes/home-caroussel.html' %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-3 mb-2">
                <span class="h6">SECURE</span>
                <p class="text-gray">
                    Your documents are protected with the highest level of security
                    using blockchain technology, ensuring that they 
                    cannot be tampered with or altered in any way.
                </p>
            </div>
            <div class="col-sm-12 col-md-3 mb-2">
                <span class="h6">INNOVATIVE</span>
                <p class="text-gray">
                    We use Blockchain to provide a effective 
                    new way to certify your documents,
                    giving you peace of mind that you are 
                    using the most advanced solution available.
                </p>
            </div>
            <div class="col-sm-12 col-md-3 mb-2">
                <span class="h6">TRUSTWORTHY</span>
                <p class="text-gray">
                    We provide accurate and 
                    verifiable certification of your documents, 
                    ensuring that they are recognized and accepted by any 
                    organization or institution in the world.
                </p>
            </div>
            <div class="col-sm-12 col-md-3 mb-2">
                <span class="h6">USER-FRIENDLY</span>
                <p class="text-gray">
                    Our website is designed to be easy and intuitive to use, 
                    so you can quickly and easily certify your documents without any hassle or confusion.
                </p>
            </div>
        </div>
    </div>
    
    <div class="divider mt-5"></div>

    <div class="container">
        <div class="text-center"><span class="h3">How to get your document?</span></div>
        <div class="text-center">
            <small class="text-gray">follow the four easy steps to get your documents</small>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 pt-5">
                <div class="col-12 mt-5">
                    <span class="h6">Step 1. Find your document title</span>
                    <p class="text-gray">
                        The first step is to find your document title, the academic year and your faculty. make sure you selected the correct information before you submit your request.
                    </p>
                </div>
                <div class="col-12">
                    <span class="h6">Step 2. Purchase our service</span>
                    <p class="text-gray">
                        Once you have found your document, you will need to purchase our document certification service. You can do this by selecting the appropriate service on our website and following the prompts to complete your purchase.

                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ url_for('static',filename='img/ico-grad-1.png') }}" class="img-fluid" alt="graduation"/>
            </div>
            <div class="col-sm-12 col-md-3 pt-5">
                <div class="col-12 mt-5">
                    <span class="h6 text-end">Step 3: Submit your request</span>
                    <p class="text-gray text-align-right">
                        After you have purchased our service, you will need to submit your request for document certification. This involves providing us with some basic information about yourself and the document you want certified.
                    </p>
                </div>
                <div class="col-12">
                    <span class="h6 text-end">Step 4: Receive a document</span>
                    <p class="text-gray text-align-right">
                        Once we verify your request, we will issue your certified document using our blockchain technology. You will then be able to download and use your certified document for any purpose you require.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-success p-3" href="/request">Request a certification now</a>
        </div>
    </div>

    <br /> <br />
    <div class="divider mt-5"></div>    
    <div class="container">
        <div class="text-center"><span class="h3">Over 4+ universities as parteners</span> <br /> <span class="h3 text-success">deliver documents through our platform</span></div>
        <div class="text-center">
            <small class="text-gray">We have parternship agreements with many university all over the country</small>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img src="{{ url_for('static',filename='img/unikin.png') }}" class="img-fluid" alt="graduation"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img src="{{ url_for('static',filename='img/upc.png') }}" class="img-fluid" alt="graduation"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img src="{{ url_for('static',filename='img/ista.png') }}" class="img-fluid" alt="graduation"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img src="{{ url_for('static',filename='img/isc.png') }}" class="img-fluid" alt="graduation"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img src="{{ url_for('static',filename='img/ucc.png') }}" class="img-fluid" alt="graduation"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img src="{{ url_for('static',filename='img/ulc.png') }}" class="img-fluid" alt="graduation"/>
            </div>
        </div>
    </div>


    <br /> <br />

    
    <div class="divider mt-5"></div> 
    <div class="container" id="about">
        <div class="text-center"><span class="h3">Even more great feautres</span></div>
        <div class="text-center">
            <small class="text-gray">verify or share url of your document so that thay can check it out</small>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 pt-5">
                <div class="col-12 mt-5">
                    <span class="h6">Verify the authenticity </span>
                    <p class="text-gray">
                        With our easy-to-use verification tool, you can quickly and confidently verify the authenticity of any certified document. Simply enter the document's unique identifier and our blockchain-based technology will instantly confirm its validity. This gives you peace of mind knowing that your documents are recognized and accepted by any organization or institution that requires them.
                    </p>
                </div> 
            </div>
            <div class="col-sm-12 col-md-4 ">
                <div class="justify-content-center align-items-center">
                    <img src="{{ url_for('static',filename='img/ico-grad-2.png') }}" class="img-fluid" alt="graduation"/>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-4 pt-5">
                <div class="col-12 mt-5">
                    <span class="h6 text-end">Share the link of your document</span>
                    <p class="text-gray text-align-right">
                        With our "Share the link of your document" feature, you can easily and securely share your certified documents with anyone you choose. Simply generate a shareable link, and anyone with the link can access your certified document with confidence, knowing that it is protected by our state-of-the-art blockchain technology.
                    </p>
                </div> 
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-success p-2" href="/verify">Verify a document now</a>
        </div>
    </div>

    <br /><br /><br /><br />
    <div class="container-fluid bg-success p-5">
        <div class="row m-3">
            <div class="col-sm-12 col-md-4">
                <img src="{{ url_for('static',filename='img/ico-text.png') }}" class="img-fluid" alt="graduation"/>
            </div>
            <div class="col-sm-12 col-md-8 text-end text-white p-2">
                <span class="h3 ">What our users say</span>
                <br />
                <p class="mt-3">
                    "Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </p>
                <b>Andrea Erling</b>
            </div>
        </div>
    </div>
    
    {% include 'includes/footer.html' %}
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}" ></script>
    <script src="{{ url_for('static',filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script> 
    <script defer src="{{ url_for('static',filename='libs/login.js') }}"></script>
  </body>
</html>