
<footer class="bg-dark p-5 text-white">
    <div class="divider mt-0"></div> 
    <div class="container">
        <div class="text-center"><span class="h3">CONTACT US</span></div> 
    </div> 
    <div class="container">
        <div class="text-center">
            <span class="small">
                Our company provides a secure and innovative solution for certifying and verifying <br />
                important documents using  blockchain technology. We offer a user-friendly platform <br />
                that allows individuals and organizations to certify their documents quickly and easily,<br />
                 ensuring their validity and authenticity for any purpose. Our goal is to provide <br />
                 a trusted and convenient solution for managing and accessing  important documents <br /> 
                 anytime, anywhere.
            </span>
        </div> 
        <br /><br />
        
        <div class="text-center">
            <a class="btn btn-success" href="mailto:mbula.gilberto@gmail.com">Send us a Mail</a>
        </div>


        <br /><br /><br />
        <div class="text-center">
            <small class="text-white">© 2023 UNIKIN <br />
                All rights reserved </small>
        </div>
    </div>
</footer>