<nav id="header-navbar" class="navbar navbar-dark navbar-expand-lg navbar-transparent" style="background-color: transparent;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="width: 40vw;">
        <img src="{{ url_for('static',filename='img/logo-rdc.png') }}" alt="Logo"  height="80">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 "> 
            <li class="nav-item ml-5"> <a class="nav-link" href="/#home">HOME</a></li>
            <li class="nav-item ml-5"> <a class="nav-link" href="/#about">HOW IS IT WORKS</a></li>
            <li class="nav-item ml-5"> <a class="nav-link" href="/request">REQUEST A DOCUMENT</a></li>
            <li class="nav-item ml-5"> <a class="nav-link" href="/verify">VERIFY A DOCUMENT</a></li>
            <li class="nav-item ml-5"> <a class="nav-link" href="/cpanel">ADMINISTRATION</a></li>
        </ul> 
      </div>
    </div>
  </nav>
