<div class="container mb-2 mt-4">
    <div class="text-white bg-dark rounded">
      <div class="card-header p-3 h5">
        Top 50 Document Requests  
        <a href="{{url_for('requests')}}" class="text-white small"><span class="float-end bg-danger rounded ps-2 pe-2 small">See All Requests <i class="fa fa-arrow-right"></i></span></a>
      </div>
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-btn">
          <button class="btn btn-success" type="button" id="search-btn">Search</button>
        </div>
        
        <table class="table table-bordered table-dark table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Document</th>
              <th scope="col">Faculty</th>
              <th scope="col">Class</th> 
              <th scope="col">Academic year</th> 
              <th scope="col">date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for doc in docs %} 
              <tr>
                <td>{{doc[1]}}</td> 
                <td>{{doc[3]}}</td> 
                <td>{{doc[5]}}</td>
                <td>{{doc[8]}}</td>
                <td>{{doc[9]}}</td>
                <td>{{doc[10].strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td><a href="/cpanel/view-request/{{doc[0]}}" class="btn btn-outline-light">view</a></td>
              </tr>
            {% endfor %} 
             
            <!-- Add more rows here as needed -->
          </tbody>
        </table>
      </div> 
  </div>

</div>