<div class="container mb-2">
    <div class="text-white bg-dark rounded">
      <div class="card-header p-3 h5">
        Payements 
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-9 ">
              <img src="{{url_for('static', filename='img/chart-simul.png')}}" class="img-fluid" alt="chart " />
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="container-fluid">
                <h5 class="h5">$ 100 000</h5>
                <p class="small mb-0 text-whitesmoke">Annual Revenue</p>
                <hr />
              </div>
              <div class="container-fluid">
                <h5 class="h5">$ 14 000</h5>
                <p class="small mb-0 text-whitesmoke">Average Monthly Revenue</p>
                <hr />
              </div>
              <div class="container-fluid">
                <h5 class="h5">$ 1 000</h5>
                <p class="small mb-0 text-whitesmoke">Revenue for this month</p> 
              </div>
           </div>

          </div>
      </div>
    </div>


  </div>