
<div class="row">
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Issued
          <span class="float-end bg-success rounded ps-2 pe-2 small">Yearly</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">1 000.00</h5>
              <p class="small mb-0 text-whitesmoke">Total Documents</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-trophy text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Requests
          <span class="float-end bg-info rounded ps-2 pe-2 small">Yearly</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">7 000.00</h5>
              <p class="small mb-0 text-whitesmoke">Total doc requests</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-file text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Pending
          <span class="float-end bg-danger rounded ps-2 pe-2 small">Yearly</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">4 000.00</h5>
              <p class="small mb-0 text-whitesmoke">Total doc requests</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-clock-o  text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="text-white bg-dark rounded">
        <div class="card-header p-3">
          Verfications
          <span class="float-end bg-warning rounded ps-2 pe-2 small">Monthly</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title h3">100 000</h5>
              <p class="small mb-0 text-whitesmoke">Total doc requests</p>
            </div>
            <div class="col-4 h1">
              <i class="fa fa-check text-whitesmoke"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div> 